/* universal selector */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: "Lato", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.7;
  color: #777;
  padding: 30px;
}

.header {
  height: 95vh;
  position: relative;

  background-image: linear-gradient(to right bottom, #7ed56fb0, #28b485bd),
    url("../img/hero.jpg");
  /* top of bg stay the same, bottom changes */
  background-position: top;
  /* stretch img */
  background-size: cover;

  /* reshape the container using coordinates */
  clip-path: polygon(0 0, 100% 0, 100% 75%, 0 100%);
}

.logobox {
  /* need to make the parent "relative" as a reference point */
  position: absolute;
  top: 40px;
  left: 40px;
}

.logo {
  height: 35px;
}

.text-box {
  /* to make some item at the exact center of it's relative parent */
  position: absolute;
  top: 40%;
  left: 50%;

  /* (-50%, ..): shift half of the "text-box"'s width left */
  transform: translate(-50%, -50%);

  text-align: center;
}

.heading-primary {
  color: #fff;
  text-transform: uppercase;
}

.heading-primary-main {
  /* blocks occupy the whole width of parent and create line break before & after*/
  display: block;

  font-size: 60px;
  font-weight: 400;
  letter-spacing: 35px;

  animation-name: moveFromLeftToRight;
  /* ease-out: timming faster at begin and slower at end */
  animation-timing-function: ease-out;
  animation-duration: 1.5s;
  animation-iteration-count: 1;
  animation-delay: 0s;
}

.heading-primary-sub {
  display: block;

  font-size: 20px;
  font-weight: 700;
  letter-spacing: 17px;

  animation: moveFromRightToLeft 1.5s ease-out;
  animation-iteration-count: 1;
  animation-delay: 0s;

  margin-bottom: 20px;
}

@keyframes moveFromLeftToRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  80% {
    transform: translateX(10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

@keyframes moveFromRightToLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  80% {
    transform: translateX(-10px);
  }
  100% {
    opacity: 1;
    transform: translate(0);
  }
}

.btn:link,
.btn:visited {
  /* makes width, height, padding and margin possible */
  display: inline-block;

  border-radius: 100px;

  text-transform: uppercase;
  text-decoration: none;

  padding: 15px 40px;

  /* simpler animation */
  transition: all 0.5s;

  position: relative;
}

/* pesudo-element - child of the real element */
.btn::after {
  content: "";

  display: inline-block;

  height: 100%;
  width: 100%;
  border-radius: 100px;

  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;

  transition: all 0.5s;
}

.btn:hover {
  transform: translateY(-2.5px);
  /* x-offset y-offset blur-amplitude shadow-color */
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.2);
}

.btn:hover::after {
  transform: scaleX(1.4) scaleY(1.6);
  opacity: 0;
}

.btn:active {
  transform: translateY(-1px);
  /* x-offset y-offset blur-amplitude shadow-color */
  box-shadow: 0px 5px 10px rgba(0, 0, 0, 0.2);
}

.btn-white {
  background: #fff;
  color: #777;
}

/* pesudo-element - child of the real element */
.btn-white::after {
  background: #fff;
}
